<!doctype html>
<html>
<head>
    <title>PAR System</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        a {
            font-family:  "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
        }
    </style>
</head>
        <!-- Header Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="/">PAR System</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link" href="/system">HOME</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/history">HISTORY</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/contact">CONTACT</a>
                    </li>
                  </ul>
                </div>
        </nav>