<% include ./base/header %>
<br>
<center>
    <div class="jumbotron">
        <h2> Something went wrong </h2>
        <p><%= message %> </p>
    </div>
</center>

<script>
    var redirect = '<%= redirect %>';
    console.log(redirect);
    setTimeout(function(){
        window.location.replace("http://localhost:3000/"+redirect);
    }, 5000)
    
</script>
<% include ./base/footer %>
