<% include ./base/header %>
<br>
<div class="row">
    <div class="col-md-2"></div>
    <div class="jumbotron jumbotron-fluid col-md-8">
        <div class="container">
          <h1 class="display-5">Data History</h1>
          <br>
          <% if (data.length === 0 ) { %>
            <p>No data</p> 
         <% } else { %>
          <% for(var i=0; i < data.length ;i++) { %>
            <a href="/load/parsystem/<%=data[i]._id%>"> <%= data[i].name %></a><br>
          <% } }%>
        
        </div>
    </div>
</div>

<% include ./base/footer %>
