<% include ./base/header %>
        <!-- Body content-->
        <br><br>
        <main role="main" class="container">
                <a href="/system"> back to upload again </a>
        </main>
</body>
<% include ./base/footer %>
