<% include ./base/header %>
        <!-- Body content-->
        <br><br>
        <main role="main" class="container">
                <div class="jumbotron">
                  <h1>PAR System</h1>
                  <p class="lead">This platform which use for analyzing and monitoring physical activities from wearable sensors to be on web application and improving the way to represent the actigraphy data to make it simpler and intuitive.</p>
                  <p class='lead'> Let's try out  </p>
                    <div class="form-group">
                    <form action="/api/upload" enctype="multipart/form-data" method="post">
                        <label for="exampleInputFile">Input data file</label>
                        <input type="file" name="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp" required>
                        <br>
                        <input class="btn btn-primary"type="submit" > 
                    </form>
                    </div> 
                </div>
        </main>
</body>
<% include ./base/footer %>
